In [2]:
# both can work together
import pandas as pd
import numpy as np

In [3]:
# Crear un arreglo de numpy
data = np.array([[1,2,3],[4,5,6],[7,8,9]])

# Create a DF from a Numpy arrange
df = pd.DataFrame(data, columns=["A", "B", "C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
# from a df, obtaing a numpy array
data = {
    "A" : [1,4,3],
    "B" : [6,8,2],
    "C" : [5,7,9]
}
df = pd.DataFrame(data) # new array arrange
df

   A  B  C
0  1  6  5
1  4  8  7
2  3  2  9

In [5]:
# Convert a DF to a Numpy array
arr = df.to_numpy()
arr

array([[1, 6, 5],
       [4, 8, 7],
       [3, 2, 9]], dtype=int64)

In [6]:
# pandas inherit every f(x) from numpy
df.values # extract your values and creates a new numpy array

array([[1, 6, 5],
       [4, 8, 7],
       [3, 2, 9]], dtype=int64)

In [8]:
# caculate prom from every col using np
mean_columns = np.mean(df, axis=0) # axis=0  for every col and axis=1 for every row
mean_columns

A    2.666667
B    5.333333
C    7.000000
dtype: float64

In [9]:
df.mean(axis=0) # axis in wich direction you wanna do the operation

A    2.666667
B    5.333333
C    7.000000
dtype: float64